@using Classifieds.Models
@model IEnumerable<Classifieds.ViewModel.CategoryCount>
@{
    ViewBag.Title = "Index";
}


<h2>Categories</h2>
@foreach(var result in Model)
{
    <div><a href="@result.Categories.First()">@result.Categories.First()</a>@result.Count</div>
}
