@using Classifieds.Models
@model IEnumerable<Classifieds.ViewModel.CategoryCount>
@{
    ViewBag.Title = "Index";
}


<h2>Categories</h2>
@foreach(var result in Model)
{
    <div>@result.Categories.First():@result.Count</div>
}
